<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_BASE_URL</key>
	<string>$(API_BASE_URL)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.googleusercontent.apps.714139606616-6h0ah0ri87a6kb2p2a5lnqg7p690q3id</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.714139606616-6h0ah0ri87a6kb2p2a5lnqg7p690q3id</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.threeputt.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>threeputt</string>
			</array>
		</dict>
	</array>
	<key>GOOGLE_CLIENT_ID</key>
	<string>714139606616-6h0ah0ri87a6kb2p2a5lnqg7p690q3id.apps.googleusercontent.com</string>
</dict>
</plist>
